@import "../../index.scss";

.contact-container {
  width: 100%;
  padding: 3rem 1rem;

  .contact-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem 0;

    .input-container {
      width: 100%;

      input {
        width: 100%;
        border: none;
        border-radius: 6px;
        padding: 1.2rem 0.8rem;
        outline: none;
        font-size: $fs-base;
        box-shadow: 1px 1px 3px $color-primary;

        &:focus {
          box-shadow: inset 1px 1px 3px $color-primary;
        }

        @media screen and (min-width: 768px) {
          font-size: $fs-md;
        }
      }
      textarea {
        width: 100%;
        border: none;
        border-radius: 6px;
        padding: 1rem 0.8rem;
        outline: none;
        font-size: $fs-base;
        box-shadow: 1px 1px 3px $color-primary;

        &:focus {
          box-shadow: inset 1px 1px 3px $color-primary;
        }

        @media screen and (min-width: 768px) {
          font-size: $fs-md;
        }
      }
    }

    .button-container {
      width: 100%;

      .button {
        width: 40%;
        display: flex;
        justify-content: center;
        padding: 1rem;
        border-radius: 8px;
        font-size: $fs-md;
        font-weight: $fw-semibold;
        color: $color-secondary;
        background-color: $bg-secondary;
        box-shadow: $box-shadow;
        backdrop-filter: $backdrop-filter;
        -webkit-backdrop-filter: $backdrop-filter;

        &:active {
          box-shadow: inset 1px 1px 3px $color-primary;
        }
      }
    }
  }
}
