$font-family: 'Comfortaa', sans-serif;

$m-header: 80px;

$small-font-size: 14px;
$base-font-size: 16px;
$medium-font-size: 18px;
$large-font-size: 22px;
$big-font-size: 28px;
$title-font-size: 36px;

$thin-font-weight: 300;
$normal-font-weight: 400;
$medium-font-weight: 500;
$semibold-font-weight: 600;
$bold-font-weight: 700;

$black: #222222;
$solid-black: #000000;
$white: #eaeaea;
$shadow: rgba(34, 34, 34, 0.50)